<%= link_to "Create new student", new_student_path %>
<%= link_to "Browse all students", students_path %>
<h1>Showing details for a particular student<h1>


<%= @student.name %>

<h1>All address details below</h1>

<% @student.addresses.each do |detail| %>
  <p>Description :<%= detail.description %></p>
  <p>Street: <%= detail.street %></p>
  <p>City: <%= detail.city %></p>
  <p>State: <%= detail.state %></p>
  <p>Zipcode: <%= detail.zipcode %></p>
  <p>---------------------------------------------</p>
<%end %>